# OS
.DS_Store

# R session/history
.Rhistory
.Rapp.history
.RData
.Ruserdata
*.RData
*.rdata
*.Rds
*.rds

# Simulation logs and outputs
Simulations-final/logs/
Simulations-final/rlogs/
Simulations-final/results/*
!Simulations-final/results/plots/
!Simulations-final/results/plots/**

# Local environments / caches
.Rproj.user/
.renv/
renv/library/
renv/staging/
renv/python/
.ipynb_checkpoints/
__pycache__/
*.pyc

# Brewing
brewing../